---
import type { Flight } from '@libs/flying'
import FlightPreview from './FlightPreview';
import { readFileSync } from 'fs';
import IGCParser from 'igc-parser';


type Props = {
    flight: Flight
}

const { flight } = Astro.props

const HEIGHT = 120;
const BORDER_WIDTH = 8;

// TODO:  Move to Axios
const igcFileContents = flight?.igcFile ? readFileSync(flight.igcFile.filePath , { encoding: 'utf8', flag: 'r' }) : undefined;
const igc = igcFileContents ? IGCParser.parse(igcFileContents) : undefined;
---

<div class="w-full m-4 text-left border-b last:border-none border-gray-200">
    <div class="relative">
        <div style={`width: ${HEIGHT}px; border-width ${BORDER_WIDTH};`} class={`border-gray-400 bg-white border-8 aspect-square `}><FlightPreview client:only="react" flight={flight} height={HEIGHT-BORDER_WIDTH*2} igc={igc} /></div>
        <div style={`width: ${HEIGHT}px; border-width ${BORDER_WIDTH};`} class={`border-gray-400 bg-white border-8 aspect-square -z-10 absolute rotate-12 left-2 -top-0`}></div>
    </div>
    #{flight.number}
</div>