---
import Navbar from '@components/Navbar.astro';
import Layout from '../../layouts/BaseLayout.astro';
import { GetFlights } from '@libs/flying';
import FlyCalendar from '@components/flying/FlyCalendar';
import prettyMs from 'pretty-ms';
import '@fontsource/capriola/latin-400.css';
import FlightGraphs from '@components/flying/FlightsGraphs';

const flights = await GetFlights();
const flightCount = flights.length;
const totalSeconds = flights.reduce((a, b) => a + (b.durationSeconds ?? 0), 0);
const totalHours = (totalSeconds / 60.0 / 60.0).toFixed(2);
const totalTime = prettyMs(totalSeconds * 1000, {
  verbose: true,
  hideSeconds: true,
});

const statClass = 'text-orange-600 font-bold text-xl italic font-[capriola]';
---

<Layout title="Flying Log" description="Paragliding Flying Logbook">
  <div
    class="flyingpage-layout-container snap-y overflow-y-scroll h-lvh w-full"
    style="scroll-padding-block-start: 200px;"
  >
    <!-- Hero Image -->
    <div
      class="hero-container w-full max-h-[75vh] flex items-stretch content-center overflow-hidden snap-start"
    >
      <video
        src="/ParaglidingHeader.mp4"
        class="block object-cover object-center w-full"
        autoplay
        loop
        muted></video>
    </div>
    <header class="w-full m-0 pt-0 text-center snap-start" style="">
      <h1 class="text-2xl">Paragliding Logbook</h1>
      <Navbar />
    </header>

    <main class="w-full text-center mt-16">
      <div class="ml-16 mr-16">
        Completed <span class={statClass}>{flightCount} Flights</span><i
          >(so far..),</i
        > flight time is currently up to <span class={statClass}
          >{totalHours} Hours </span
        ><span class="text-xs"
          >(or <span class={statClass + ' text-xs'}>{totalTime}</span>)</span
        >
      </div>
      <div class="min-h-[212px]">
      <FlyCalendar client:only="react" flights={flights} />
      </div>

      <div class="flex flex-wrap m-8 space-x-4 space-y-4">
        <div class="m-auto">
          <h3>Badges</h3>
          Badges go here
        </div>
        <div class="grow">
          <FlightGraphs client:only="react" flights={flights} />
        </div>
      
      </div>

    </main>
  </div>
</Layout>

<style is:global>
  .slick-slider {
    /* height: 100%; */
  }

  .slider-container {
    /* aspect-ratio: 5.5 / 1; */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-snap-align: start;
  }

  * {
    min-height: 0;
    min-width: 0;
  }
</style>
