---
import Navbar from '@components/Navbar.astro';
import Layout from '../../layouts/BaseLayout.astro';
import { GetFlights } from '@libs/flying';
import FlyCalendar from '@components/flying/FlyCalendar';
import prettyMs from 'pretty-ms';
import '@fontsource/capriola/latin-400.css';
import FlightGraphs from '@components/flying/FlightsGraphs';
import FlightList from '@components/flying/FlightList.astro';
import FlightCardList from '@components/flying/FlightCardList';

const flights = await GetFlights();
const flightCount = flights.length;
const totalSeconds = flights.reduce((a, b) => a + (b.durationSeconds ?? 0), 0);
const totalHours = totalSeconds / 60.0 / 60.0;
const totalTime = prettyMs(totalSeconds * 1000, {
  verbose: true,
  hideSeconds: true,
});

const statClassStyles = 'font-bold text-sm font-[capriola] italic';
const metricClassStyles = 'text-orange-500 text-2xl not-italic';
---

<Layout title="Flying Log" description="Paragliding Flying Logbook">
  <div
    class="flyingpage-layout-container overflow-y-scroll overflow-x-hidden h-lvh w-full bg-[#fefefe] text-[#444]"
    style="scroll-padding-block-start: 200px;"
  >
    <!-- Hero Image -->
    <div
      class="hero-container w-full max-h-[75vh] flex items-stretch content-center overflow-hidden snap-start"
    >
      <video
        src="/ParaglidingHeader.mp4"
        class="block object-cover object-center w-full"
        autoplay
        loop
        muted></video>
    </div>

    <header class="w-full m-0 pt-0 snap-start" style="">
      <div class="flex flex-grow flex-wrap items-center justify-center" }>
        <!-- Flight Stats -->
        <div
          class={statClassStyles + ' self-end text-center order-2 md:order-1'}
        >
          <div>
            <span class={metricClassStyles}>{flightCount}</span> Flights
          </div>
          <div>
            <span class={metricClassStyles + ' pl-10'}
              >{Math.round(totalHours)}</span
            > Hours
          </div>
          <div class="text-xs m-2 text-gray-300">
            (or <span class="text-orange-300">{totalTime}</span>)
          </div>
        </div>

        <!-- Header Middle / Nav -->
        <div
          class="header-middle text-center min-w-full md:order-2 md:min-w-[490px]"
        >
          <h1 class="text-2xl text-center">Paragliding Logbook</h1>
          <Navbar />
        </div>

        <!-- Badges to go here -->
        <div class="order-3 md:order-3"></div>
      </div>
    </header>

    <main class="w-full text-center">
      <div class="min-h-[212px] mt-4 lg:hidden">
        <FlyCalendar client:only="react" flights={flights} />
      </div>

      <div class="flex flex-wrap lg:mt-16">
        <!-- Flights left hand bar (wide displays) -->
        <div class="w-[200px] min-h-[650px] hidden lg:block">
          <FlyCalendar client:only="react" flights={flights} verticle />
        </div>
        <div class="grow lg:border-l lg:pl-2">
          <div class="min-h-[550px]">
            <FlightGraphs client:only="react" flights={flights} height={550} />
          </div>
          <div class="m-4">
            <FlightCardList
              client:only="react"
              flights={flights}
              itemsPerPage={5}
            />
            <!-- <FlightList flights={flights} /> -->
          </div>
        </div>
      </div>
    </main>
  </div>
</Layout>

<style is:global>
  .slick-slider {
    /* height: 100%; */
  }

  .slider-container {
    /* aspect-ratio: 5.5 / 1; */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-snap-align: start;
  }

  * {
    min-height: 0;
    min-width: 0;
  }
</style>
