---
import Layout from '../layouts/DataLayout.astro';
import Article from '../components/data/Article.astro';

import hero from '../../public/climbing.jpg';
import Calendar from '@components/climbing/Calendar.tsx';
import { GetClimbs, type Climb } from '@libs/Climbing';
import '@fontsource/capriola/latin-400.css';

const climbs = await GetClimbs();
import CalendarDayHighlight from '@components/climbing/calendarDayHighlight.tsx';

import ClimbingDataFilter from '@components/climbing/ClimbingDataFilter';
import ClimbsByMonth from '@components/climbing/ClimbsByMonth';
import ClimbsByGrade from '@components/climbing/ClimbsByGrade';
import ClimbingTable from '@components/climbing/ClimbingTable';
import ClimbingSankey from '@components/climbing/ClimbingSankey';
---

<Layout
  title="Climbing Data"
  hero={hero}
  description="A track of my climbing progress"
>
  <Article title="Ethos">
    <p>
      For me, I find that when we start a new sport or hobby, it's very easy to
      feel like we're not progressing, or that we're hitting a plateau. Just
      like with anything, having the data available will help figure out if this
      is actually the case, or better explain why. With so many hobbies, and
      often work competing for time, keeping track of this is done on a best
      effort basis using a <a
        href="https://docs.google.com/spreadsheets/d/1-0OIGspu_3g_SsTvc_D6nc80I7PzXjUFz6QdnQ2-dnc/edit?usp=sharing"
        target="_blank">Google Spreadsheet</a
      >
    </p>
    <p>
      I'm very much a "casual climber", without any real goals in mind. I do
      however, get a kick when I get to climb some place new, or achieve a new
      level I've not done before
    </p>
    <p>
      I was getting pretty lazy updating my spreadsheet towards the end of 2024.
      Hopefully I'll do a better job of it going into 2025!
    </p>
  </Article>

  <Article title="Days With Climing">
    <p>
      My goal is to exercise 2 times a week. Ideally, one of these should be
      climbing!
    </p>
    <p>
      Some interesting stats here is that most of the climbs occur on a
      <CalendarDayHighlight
        client:idle
        instanceKey="perday"
        day="Tuesday"
        from="2023-01-01"
        to="2025-01-01"
        className="text-orange-600 font-bold text-base italic font-[capriola]"
      /> or
      <CalendarDayHighlight
        client:idle
        instanceKey="perday"
        day="Thursday"
        from="2023-01-01"
        to="2025-01-01"
        className="text-orange-600 font-bold text-base italic font-[capriola]"
      />
    </p>
    <p>
      I'm a little concerned that I've been lazy as 2024 has progressed with
      logging these climbs, so, will try to endavor to get much better at this
    </p>
    <div class="h-[250px]" slot="data">
      <Calendar
        client:only="react"
        data={climbs}
        from="2023-01-02"
        to="2025-01-01"
        minValue={0}
        maxValue={15}
        storeName="perday"
      />
    </div>
  </Article>
  <Article>
    <p>
      As for the amount of climbing I'm doing. Another way of looking at this is
      <strong>"Days climbed per month"</strong>
    </p>
  </Article>
  <div class="h-36 m-auto max-w-[70ch]">
    <ClimbsByMonth client:only="react" climbs={climbs} />
  </div>

  <Article title="Climbs Per Month (Climbing Difficulty)">
    <p>
      This is one of the more interesting graphs. I'm not going to the gym more
      often than I was, but, am I climbing more things while I'm there, or, has
      my climbing grades <i>improving?</i>
    </p>
    <p>
      Perhaps one way to look at this is focusing on my challenges; the
      <ClimbingDataFilter client:idle dataFilter="Hard Boulders" />
      , or my
      <ClimbingDataFilter client:idle dataFilter="Project Climbs?" />
    </p>
    <div class="h-96 m-auto" slot="data-big">
      <ClimbsByGrade client:only="react" climbs={climbs} />
    </div>
  </Article>
  <div class="h-96 m-auto max-w-[70ch]">
    <ClimbingSankey client:only="react" climbs={climbs} />
  </div>

  <div slot="data">
    <h2>Climbing Entries</h2>
    <ClimbingTable client:idle data={climbs} />
  </div>
</Layout>
