---
import { getAllPosts, type Post } from '@libs/Post';

export interface Props {
  post: Post;
  fullPost?: boolean;
}

const posts = getAllPosts();

const { post, fullPost } = Astro.props;
const link = `/post/${post.slug}`;
const Content = fullPost ? (await post.content.render()).Content : undefined;

const dateStr = new Intl.DateTimeFormat('en-US', {
  weekday: 'short',
  year: 'numeric',
  month: 'short',
  day: '2-digit',
}).format(post.data.date);
---

{
  !fullPost && (
    <article>
      <h2>
        <a href={link}>{post.data.title}</a>
      </h2>
      <time datetime={post.data.date.toISOString().slice(0,10)}>
        <strong>Published on </strong>
        {dateStr}
      </time>
      <div set:html={post.excerpt} />
      <div>
        <a href={link} style="color: #333">
          {'↳ '}Continue Reading...
        </a>
      </div>
      {/* <post.content.Content /> */}
    </article>
  )
}

{
  fullPost && Content && (
    <article>
      <h2>{post.data.title}</h2>
      <time datetime={post.data.date.toISOString().slice(0,10)}>
        <strong>Published on </strong>
        {dateStr}
      </time>
      <Content />
    </article>
  )
}
