---
import { type Post } from '@libs/Post';
import { Image } from 'astro:assets';

export interface Props {
  post: Post;
  imageDir: 'left' | 'right';
}

const { post, imageDir } = Astro.props;
const link = `/post/${post.slug}`;

const dateStr = new Intl.DateTimeFormat('en-US', {
  weekday: 'short',
  year: 'numeric',
  month: 'short',
  day: '2-digit',
}).format(post.data.date);

const floatStyle = `float: ${imageDir};`;
---

<article class="page-excerpt overflow-auto">
  <h2>
    <a href={link} class="font-black text-2xl">{post.data.title}</a>
  </h2>
  <time datetime={post.data.date.toISOString().slice(0, 10)}>
    <strong>Published on </strong>
    {dateStr}
  </time>
  {
    post.data.hero && (
      <Image
        class={'p-2 clear-both'}
        style={floatStyle}
        src={post.data.hero}
        alt="Article Cover Image"
        width={200}
      />
    )
  }
  <div set:html={post.excerpt} class="shrink" />
</article>
