---
import { type ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import type { JsxElement } from 'typescript';
import type { HTMLAttributes } from 'astro/types';

export interface GalleryImage {
  image: ImageMetadata | string;
  altText: string;
  width?: number;
  child?: JsxElement;
  renderAs?: 'image' | 'video';
  videoProps?: HTMLAttributes<'video'>;
}

export interface Props {
  images: GalleryImage[];
  gap?: string;
  gallery?: string;
  defaultWidth?: number;
  style?: 'default' | 'highlight-first';
}

const defaults = {
  gap: 'p-4',
  gallery: 'gallery',
  style: 'default',
};

const { images, gap, gallery, defaultWidth, style } = Object.assign(
  {},
  defaults,
  Astro.props
);
---

<div class={'flex flex-wrap justify-center items-center ' + gap}>
  {
    images.map((img, i) => {
      const renderAs = img.renderAs || 'image';
      let href = undefined;
      let component = undefined;

      if (renderAs == 'image') {
        const image = img.image as ImageMetadata;
        href = image.src;
        component = (
          <Image
            src={image}
            alt={img.altText}
            class="p-1"
            width={img.width || defaultWidth}
          />
        );
      } else if (renderAs == 'video') {
        href = img.image as string;
        component = (
          <video width={img.width || defaultWidth} {...img.videoProps}>
            <source src={href} />
          </video>
        );
      }

      // Calculate the css based on the local style
      let css = undefined;
      if (style == 'highlight-first') {
        css = 'flex: 1 1 0;';
        if (i == 0) {
          css = 'flex-basis: 100%;';
        }
      }

      return (
        <a data-fslightbox={gallery} href={href} style={css}>
          {component}
        </a>
      );
    })
  }
</div>

<script>
  // eslint-disable-next-line
  import FsLightbox from 'fslightbox';
</script>
