---
import { Image } from 'astro:assets';

import BaseLayout from './BaseLayout.astro';
import type { Post } from '@libs/Post';
import Navbar from '@components/Navbar.astro';
import type { CollectionEntry } from 'astro:content';

interface Props {
  article: CollectionEntry<'posts'> | CollectionEntry<'recipes'> | Post;
}

// Article's data
const article = Astro.props.article.data;

// If the hero image should be down the side of the page
const heroOnSide =
  article.hero && article.style == 'img-left';

let heroStyle = undefined;
if (heroOnSide && article.heroObjectPosition) {
  heroStyle = `object-position: ${article.heroObjectPosition};`;
}
---

<BaseLayout title={article.title} description={article.description}>
  <div class={'layout-wrapper' + (heroOnSide ? '-hero' : undefined)}>
    {
      article.hero &&
        (article.style == 'img-left' || article.style == 'img-top') && (
          <Image
            class="hero"
            src={article.hero}
            alt="Page Title Image"
            style={heroStyle}
            height={1000}
            quality={40}
          />
        )
    }
    <div class="article-wrapper">
      <header>
        <Navbar />
      </header>
      <main>
        <article>
          <header>
            <slot name="header" />
          </header>
          {
            article.style == 'img-between' && article.hero && (
              <Image src={article.hero} alt="Page Title Image" class="p-8" />
            )
          }
          <slot />
        </article>
      </main>
    </div>
  </div>
</BaseLayout>

<style is:global>
  html {
    margin: 0;
    padding: 0;
    color: #444;
    background-color: #eee;
  }

  body {
  }

  article {
    max-width: 70ch;
    margin: 2em auto;
    padding: 0 1em;
    margin-bottom: 2em;
    margin-top: 4em;
  }

  article h1 {
    margin-top: 0;
    line-height: 1;
    font-weight: 600;
    font-size: 2em;
  }

  article aside {
    color: #777;
    font-size: small;
    margin-bottom: 0;
    line-height: 1.4;
  }

  article img {
    margin: auto;
  }

  article img + em {
    text-align: center;
    color: gray;
    display: block;
  }

  img.hero {
    height: 50vh;
    width: 100%;
    object-fit: cover;
  }

  @media (min-width: 921px) {
    .layout-wrapper-hero {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
    .layout-wrapper-hero img.hero {
      height: 100vh;
      grid-column: 1 / 6;
      position: sticky;
      top: 0;

      /* Some hacks to avoid over bright images */
      filter: opacity(60%) saturate(0%) sepia(30%);
    }
    .layout-wrapper-hero .article-wrapper {
      grid-column: 6/13;
      max-width: 70ch;
    }
    .layout-wrapper-hero article {
      margin: 2em;
      margin-top: 3em;
    }
  }
</style>
